{% extends 'main_theme.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<!-- New with Crispy -->
	<div class="container py-5 register">
		<h1>Create New Appointment</h1>
		<form method="POST">
			{% csrf_token %}
			{{ form|crispy }}                    
			<button class="btn btn-primary btn-v-space" type="submit">Submit</button>
		</form>
	</div>
	<div class="card mx-auto" style="width: 36rem;">
		<div class="card-header">
			Your Current Appointments
		</div>
		<ul class="list-group list-group-flush">
		{% for appointment in object_list %}
		<li class="list-group-item">{{appointment.request_date}}</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}