<!DOCTYPE html>
<html lang="en" style="background-color: whitesmoke;">

<head>
    <meta charset="UTF-8">
    <title>AAP</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

{% block menu %}

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="{% url 'mainhome' %}">Home</a>

            <ul class="nav-menu">
                {% if user.is_authenticated %}
                <li><a class="nav-menu-a" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a class="nav-menu-a" href="{% url 'appointments' %}">Appointments</a></li>
                <li><a class="nav-menu-a" href="{% url 'profile' %}">Account</a></li>
                {% endif %}
            </ul>

            <div>
            {% if user.is_authenticated %}
            <ul class="navbar-nav text-light">
                <li class="nav-item-acct">
                    {{user.email}}
                </li>
                <li class="nav-item-acct">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav text-light">
                <li class="nav-item-acct">
                    You are not logged in.
                </li>
                <li class="nav-item-acct">
                    <a class="nav-link nav-links-acct" href="{% url 'login_url' %}">Login</a> &bull;
                    <a class="nav-link nav-links-acct" href="{% url 'register_url' %}">Register</a>
                </li>
            </ul>
            {% endif %}
            </div>
        </div>

    </nav>

{% endblock menu %}

<body>
    {% block content %}
    <h2>Main Block</h2>
    {% endblock content %}
</body>

</html>