<!DOCTYPE html>
<html lang="en" style="background-color: whitesmoke;">

<head>
    <meta charset="UTF-8">
    <title>AAP</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <!-- Bootstrap icons: https://icons.getbootstrap.com/ -->
</head>

{% block menu %}

    <nav class="navbar navbar-dark bg-dark">
        <div id="ul-wrapper" class="container-fluid">

            <a class="navbar-brand" href="{% url 'mainhome' %}"><i class="bi bi-house" style="color:white; padding-right: 5px;"></i>Home</a>

            <ul class="nav-menu">
                {% if user.is_authenticated %}
                <li class=""><a class="nav-menu-a" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class=""><a class="nav-menu-a" href="{% url 'appointments' %}">Appointments</a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-menu-a" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="bi bi-person-circle svgpad-r10"></i>Update Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'change_password' %}"><i class="bi bi-key svgpad-r10"></i>Update Password</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <div>
            {% if user.is_authenticated %}
            <ul class="navbar-nav text-light">
                <li class="nav-item-acct">
                    {{user.email}}
                </li>
                <li class="nav-item-acct">
                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav text-light">
                <li class="nav-item-acct">
                    You are not logged in.
                </li>
                <li class="nav-item-acct">
                    <a class="nav-link nav-links-acct" href="{% url 'login_url' %}">Login</a> &bull;
                    <a class="nav-link nav-links-acct" href="{% url 'register_url' %}">Register</a>
                </li>
            </ul>
            {% endif %}
            </div>
        </div>

    </nav>

{% endblock menu %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" id="msg" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 

<body>
    {% block content %}
    <h2>Main Block</h2>
    {% endblock content %}
</body>

</html>